<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Softwarica Fee Management System</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="../../styles/css/font-awesome.min.css">
<link rel="stylesheet" href="../../styles/css/bootstrap.css">
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<style>
    /* body    { padding-top:70px; } */
</style>